<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Doctyrine News - ajout / edit</title>
        <link rel="stylesheet" href="{{ asset('bundles/vendors/bootstrap/css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/css/style.css') }}" type="text/css" media="all" />
    </head>
    <body>

        <div class="col-xs-4 col-xs-offset-4 text-center bg-success ">

            {{form_start(formNews,{'attr':{'action':path('valid')}})}}
                {{ form_errors(formNews) }}
                {{form_row(formNews.date,{'attr':{'class':'bg-danger'}})}}
                {{form_row(formNews.titre)}}
                {{form_row(formNews.sujet)}}
                {{form_row(formNews.auteur)}}
                {{form_row(formNews.save)}}
            {{form_end(formNews)}}
        </div> 
    </body>

</html>
